* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", "Work Sans", sans-serif;
}

nav {
    background: #9b9b9b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 1em;
    margin: 0;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    border: 0;
    font-size: 2em;
}

nav a {
    text-decoration: none;
    color: #000000;
}

a {
    display: inline-block;
    padding: .25em;
}

nav a:hover {
    color: blue;
}