body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding: 10px;
    margin: 10px;
    border: 2px solid lightgray;
    border-radius: 8px;
}

.message-info {
    color: #484191;
    background-color: #ccdeff;
}

.message-success {
    color: #2b7644;
    background-color: #cff3da;
}

.message-warning {
    color: #8a7610;
    background-color: #fcfbc9;
}

.message-error {
    color: #831a32;
    background-color: #fad2d6;
}