body {
    background-color: #7DBAD0;
    font-family: Comfortaa, sans-serif;
    text-shadow: 2px 2px #1c4970;
}

#map {
    width: 80%;
    height: 250px;
    text-shadow: none;
}

.my-card {
    border-radius: 10px;
}

.my-card-header {
    background-color: #124654;
    color: white;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.my-card-body {
    background-color: #159ABA;
    color: white;
}

.my-card-footer {

}

.forecast-card {
    background-color: #123654;
    color: white;
    width: 180px;
    margin: 10px;
    border-radius: 5px;
}

#weather-icon {
    width: 100px;
    margin-left: 0;
}

h3 {
    font-size: 80px;
}

h6 {
    text-shadow: none;
}
