body {
    background-color: #404040;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}

.card {
    background-color: #404040;
    margin: .5em;
    border: 0;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#map {
    width: 70%;
    height: 300px;
}

.text-section {
    position: relative;
    bottom: 1.5em;
}