body {
    background-color: #454546;
}

#map {
    width: 60%;
    height: 300px;
}

.card-color {
    background-color: #5e5e5e;
    color: white;
    width: 180px;
    margin: 10px;
}

#current-conditions {
    background-color: #5e5e5e;
    color: white;
    width: 180px;
    margin: 10px;
}
